{{ define "main" }}
<main class="container page">
  <h1>{{ .Title }}</h1>
  <ul class="list-group">

    {{ $characters := .Site.Data.characters}}  
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.ByCount }}
    {{ $character := index $characters  $value.Name}} 
    <li class="list-group-item">
      <a href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}" style="display:block">

      {{ if $character.thumbnail }}
        <img style="height: 40px; margin-right: 10px;" src="{{ $character.thumbnail }}"  alt="{{ $character.title }}" /> 

      {{ else }}
        <div style="height: 40px; margin-right: 10px; width: 40px; display: inline-block; background: grey; vertical-align: middle;"></div>
      {{ end }} 
      {{ $character.title }}
      </a>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}