{{ define "main" }}
<main class="container page">
    <header>
      <h1>{{.Title}}</h1>
    </header>
    {{.Content}}
  <p><a href="/characters/">See More Characters</a></p>
    
  {{ $character := index .Site.Data.characters .Data.Term }} 
  {{ if $character.thumbnail }}
  <img src="{{ $character.thumbnail }}" /> 
  {{ end }} 
  {{ if $character.description }} {{ $character.description | markdownify }} {{ end }}

  <h2>Appearences</h2>
  <ul>
    {{ range .Data.Pages }}
    <li>
      <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
    </li>
    {{ end }}
  </ul>
    <a href="/characters/">Characters</a>

</main>
{{ end }}