{{ $url := .Permalink }}
{{ $comics := ($.Site.GetPage "section" .Section).Pages.ByPublishDate }}
	<ul class="comic-navigation" aria-label="comic navigation">
	{{ range first 1 $comics }}
		<li class="comic-navigation__item {{if eq $url .Permalink}}disabled{{ end }}">
				<a {{if eq $url .Permalink}} aria-disabled="true" tabindex="-1"{{else}} href="{{ .Permalink }}" {{end}} class="comic-navigation__link">
					<svg aria-hidden="true" height="18" width="18">
						<use xlink:href="/sprites/solid.svg#angle-double-left"></use>
					</svg>
					First <span class="sr-only">Comic</span>
			</a>
		</li>
	{{ end }}
	<li class="comic-navigation__item 	{{if not .PrevInSection}}disabled{{ end }}">
		<a {{if .PrevInSection}} href="{{.PrevInSection.Permalink}}"{{else}} aria-disabled="true" tabindex="-1" {{end}} class="comic-navigation__link prev">
			<svg aria-hidden="true" height="18" width="10">
				<use xlink:href="/sprites/solid.svg#angle-left"></use>
			</svg>
			Prev <span class="sr-only">Comic</span>
		</a>
	</li>
	<!-- <li class="comic-navigation__item active">
			{{ .Title }}
			<span class="sr-only">(Current Comic)</span>
	</li> -->
	<li class="comic-navigation__item">
			{{if .NextInSection}}
				<a href="{{.NextInSection.Permalink}}"
			{{else}}
				<span
			{{ end }}
				class="comic-navigation__link next {{if not .NextInSection}}disabled{{ end }}">
				Next <span class="sr-only">Comic</span>
				<svg aria-hidden="true" height="18" width="10">
					<use xlink:href="/sprites/solid.svg#angle-right"></use>
				</svg>
			{{if .NextInSection}}
				</a>
			{{else}}
				</span>
			{{ end }}
	</li>
	{{ range last 1 $comics }}
		<li class="comic-navigation__item">
			{{if eq $url .Permalink}}
				<span
			{{else}}
				<a href="{{ .Permalink }}"
			{{ end }}
				class="comic-navigation__link last {{if eq $url .Permalink}}disabled{{ end }}">
				Last <span class="sr-only">Comic</span>
				<svg aria-hidden="true" height="18" width="18">
					<use xlink:href="/sprites/solid.svg#angle-double-right"></use>
				</svg>
			{{if eq $url .Permalink}}
				</span>
			{{else}}
				</a>
			{{ end }}
		</li>
	{{ end }}
	</ul>
