{{ $url := .Permalink }}
{{ $comics := ($.Site.GetPage "section" .Section).Pages.ByPublishDate }}
<div class="comic-navigation">
	<nav class="comic-navigation__list" aria-label="comic navigation">
	{{ range first 1 $comics }}
		{{if eq $url .Permalink}}
			<span
		{{else}}
			<a href="{{ .Permalink }}" aria-label="First Comic"
		{{ end }}
			class="comic-navigation__link first {{if eq $url .Permalink}}disabled{{ end }}">
			<svg aria-hidden="true" height="18" width="18">r
				<use xlink:href="/sprites/solid.svg#angle-double-left"></use>
			</svg>
			<span>First <span class="sr-only">Comic</span></span>
		{{if eq $url .Permalink}}
			</span>
		{{else}}
			</a>
		{{ end }}
	{{ end }}
			{{if .PrevInSection}}
				<a href="{{.PrevInSection.Permalink}}" aria-label="Previous Comic"
			{{else}}
				<span
			{{ end }}
				class="comic-navigation__link prev {{if not .PrevInSection}}disabled{{ end }}">
				<svg aria-hidden="true" height="18" width="10">
					<use xlink:href="/sprites/solid.svg#angle-left"></use>
				</svg>
				<span>Prev <span class="sr-only">Comic</span></span>
			{{if .PrevInSection}}
				</a>
			{{else}}
				</span>
			{{ end }}
	<span class="comic-navigation__item current" aria-hidden="true">
			{{ .Title }}
	</span>
			{{if .NextInSection}}
				<a href="{{.NextInSection.Permalink}}" aria-label="Next Comic"
			{{else}}
				<span
			{{ end }}
				class="comic-navigation__link next {{if not .NextInSection}}disabled{{ end }}">
				<span>Next <span class="sr-only">Comic</span></span>
				<svg aria-hidden="true" height="18" width="10">
					<use xlink:href="/sprites/solid.svg#angle-right"></use>
				</svg>
			{{if .NextInSection}}
				</a>
			{{else}}
				</span>
			{{ end }}
	{{ range last 1 $comics }}
			{{if eq $url .Permalink}}
				<span
			{{else}}
				<a href="{{ .Permalink }}" aria-label="Last Comic"
			{{ end }}
				class="comic-navigation__link last {{if eq $url .Permalink}}disabled{{ end }}">
				<span>Last <span class="sr-only">Comic</span></span>
				<svg aria-hidden="true" height="18" width="18">
					<use xlink:href="/sprites/solid.svg#angle-double-right"></use>
				</svg>
			{{if eq $url .Permalink}}
				</span>
			{{else}}
				</a>
			{{ end }}
	{{ end }}
			</nav>
</div>
