{{ $url := .Permalink }}
{{ $comics := ($.Site.GetPage "section" .Section).Pages.ByPublishDate }}
	<ul class="pagination justify-content-center" aria-label="pagination">
	{{ range first 1 $comics }}
		<li class="page-item {{if eq $url .Permalink}}disabled{{ end }}">
				<a {{if eq $url .Permalink}} href="#" aria-disabled="true" tabindex="-1"{{else}} href="{{ .Permalink }}" {{end}} class="page-link">
					First <span class="sr-only">Comic</span>
			</a>
		</li>
	{{ end }}
	<li class="page-item 	{{if not .PrevInSection}}disabled{{ end }}">
		<a {{if .PrevInSection}} href="{{.PrevInSection.Permalink}}"{{else}} href="#" aria-disabled="true" tabindex="-1" {{end}} class="page-link prev">
			Prev <span class="sr-only">Comic</span>
		</a>
	</li>
	<li class="page-item active">
			<a href="#" aria-current="page" class="page-link" >
				{{ .Title }}
				<span class="sr-only">(Current Comic)</span>
			</a>
	</li>
	<li class="page-item 	{{if not .NextInSection}}disabled{{ end }}">
		<a {{if .NextInSection}} href="{{.NextInSection.Permalink}}"{{else}} href="#" aria-disabled="true" tabindex="-1" {{end}} class="page-link next">
			Next <span class="sr-only">Comic</span>
	</a>
	</li>
	{{ range last 1 $comics }}
		<li class="page-item {{if eq $url .Permalink}}disabled{{ end }}">
			<a {{if eq $url .Permalink}}href="#" aria-disabled="true" tabindex="-1"{{else}} href="{{ .Permalink }}" {{end}} class="page-link">
				Last <span class="sr-only">Comic</span>
			</a>
		</li>
	{{ end }}
	</ul>
