<footer class="site-footer">
	<div class="container">
		<div class="site-footer__left">
      <span class="site-footer__logo">{{ partial "logo.html" . }}</span>
		</div>
		<div class="site-footer__right">
				<span class="site-footer__copy">&copy;{{ now.Format "2006"}} {{ .Site.Params.author}}</span>
				{{ if (isset .Site.Params "patreon") }}
				<!-- <em>Join us on <a rel="noreferrer" target="_blank" href="https://www.patreon.com/{{ .Site.Params.patreon }}" title="Patreon">Patreon</a>!</em> -->
				{{ end }}
				<div class="site-footer__socials">
					{{ partial "socials.html" . }}
				</div>
		</div>
	</div>
	{{if and (.NextInSection) (eq .Section "comic")}}
	<div class="comic__load-more">
		<svg aria-hidden="true" height="50" width="50">
			<use xlink:href="/sprites/solid.svg#arrow-circle-down"></use>
		</svg>
		Next Page
	</div>
	{{ end }}
</footer>
	{{ if and (eq .Section "comic") (ne .Title "Comic") }}
	<script >
			localStorage.setItem('current-comic', '{{.Permalink}}');
			
				document.addEventListener('keydown', (event) => {
					const keyName = event.key;
					switch (keyName) {
						case "ArrowLeft":
							document.getElementsByClassName('prev')[0].click();
							return;
						case "ArrowRight":
							document.getElementsByClassName('next')[0].click();
							return;
						default:
							return;
					}
				});
				var loadMore = document.getElementsByClassName('comic__load-more')[0];
			
				var isMobile = {
					Windows: function() {
							return /IEMobile/i.test(navigator.userAgent);
					},
					Android: function() {
							return /Android/i.test(navigator.userAgent);
					},
					BlackBerry: function() {
							return /BlackBerry/i.test(navigator.userAgent);
					},
					iOS: function() {
							return /iPhone|iPad|iPod/i.test(navigator.userAgent);
					},
					any: function() {
							return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
					}
			};
				if (isMobile.any()) {
					window.addEventListener('touchmove', function (event) {
						if (window.innerWidth < 768) {
								if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
									loadMore.classList.add('active');
								} else {
									loadMore.classList.remove('active')
								}
						}
					});
					window.addEventListener('touchend', function (event) {
						loadMore.classList.remove('active')
						if (window.innerWidth < 768) {
								if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
										document.getElementsByClassName('next')[0].click();
								}
						}
					});
				} else {
					if (loadMore) {
						loadMore.classList.add('hidden')
					}
				}
					
			</script>
{{ end }}
