
<div>
	<a rel="noreferrer" target="_blank" href="https://www.patreon.com/{{ .Site.Params.patreon }}" title="Join us on Patreon">
		Patreon
	</a>
	|
	<a rel="noreferrer" target="_blank" href="https://twitter.com/{{ .Site.Params.twitter }}" title="Follow on Twitter">
		Twitter
	</a>
	|
	<a rel="noreferrer" target="_blank" href="https://www.facebook.com/{{ .Site.Params.facebook }}" title="Follow on Facebook">
		Facebook
	</a>
	|
	<a rel="noreferrer" target="_blank" href="https://www.instagram.com/{{ .Site.Params.instagram }}" title="Follow on Instagram">
		Instagram
	</a>
	|
	<a rel="noreferrer" target="_blank" href="{{ $.Site.BaseURL }}/comic/" title="Comic Archive">
		Comic Archive
	</a>
	|
	<a href="mailto:hello@sarahfrisk.com?subject=Tavern%20Wenches" title="Email Sarah">
		Email S Frisk
	</a>
</div>