
  {{ if (isset .Site.Params "patreon") }}
    <a rel="noreferrer" target="_blank" href="https://www.patreon.com/{{ .Site.Params.patreon }}" title="Join us on Patreon">
      <span class="sr-only">Join us on Patreon</span>
      <svg aria-hidden="true"
      class="social-share__icon">
        <use xlink:href="/sprites/brands.svg#patreon"></use>
      </svg>
    </a>
  {{ end }}
  {{ if (isset .Site.Params "twitter") }}
    <a rel="noreferrer" target="_blank" href="https://twitter.com/{{ .Site.Params.twitter }}" title="Follow on Twitter">
      <span class="sr-only">Follow on Twitter</span>
      <svg aria-hidden="true"
      class="social-share__icon">
        <use xlink:href="/sprites/brands.svg#twitter"></use>
      </svg>
    </a>
  {{ end }}
  {{ if (isset .Site.Params "facebook") }}
    <a rel="noreferrer" target="_blank" href="https://www.facebook.com/{{ .Site.Params.facebook }}" title="Follow on Facebook">
      <span class="sr-only">Follow on Facebook</span>
      <svg aria-hidden="true"
      class="social-share__icon">
        <use xlink:href="/sprites/brands.svg#facebook-f"></use>
      </svg>
    </a>
  {{ end }}
  {{ if (isset .Site.Params "tumblr") }}
    <a rel="noreferrer" target="_blank" href="https://{{ .Site.Params.tumblr }}.tumblr.com" title="Follow on Tumblr">
      <span class="sr-only">Follow on Tumblr</span>
      <svg aria-hidden="true"
      class="social-share__icon">
        <use xlink:href="/sprites/brands.svg#tumblr"></use>
      </svg>
    </a>
  {{ end }}
  {{ if (isset .Site.Params "instagram") }}
    <a rel="noreferrer" target="_blank" href="https://www.instagram.com/{{ .Site.Params.instagram }}" title="Follow on Instagram">
      <span class="sr-only">Follow on Instagram</span>
      <svg aria-hidden="true"
      class="social-share__icon">
        <use xlink:href="/sprites/brands.svg#instagram"></use>
      </svg>
    </a>
  {{ end }}
  {{ if (isset .Site.Params "youtube") }}
    <a rel="noreferrer" target="_blank" href="https://www.youtube.com/user/{{ .Site.Params.youtube }}" title="Subscribe on Youtube">
      <span class="sr-only">Subscribe on Youtube</span>
      <svg aria-hidden="true"
      class="social-share__icon">
        <use xlink:href="/sprites/brands.svg#youtube"></use>
      </svg>
    </a>
  {{ end }}
  {{ if (isset .Site.Params "twitch") }}
    <a rel="noreferrer" target="_blank" href="https://www.twitch.tv/{{ .Site.Params.twitch }}" title="Follow on Twitch">
      <span class="sr-only">Subscribe on Twitch</span>
      <svg aria-hidden="true"
      class="social-share__icon">
        <use xlink:href="/sprites/brands.svg#twitch"></use>
      </svg>
    </a>
  {{ end }}
  {{ if (isset .Site.Params "webtoon") }}
  <a rel="noreferrer" target="_blank" href="{{ .Site.Params.webtoon }}" title="Read on Webtoon">
    <span class="sr-only">Read on Webtoon</span>
    {{ partial "icons/webtoon.html" . }}
  </a>
{{ end }}
{{ if (isset .Site.Params "tapas") }}
{{/*  <a rel="noreferrer" target="_blank" href="{{ .Site.Params.tapas }}" title="Read on Tapas">
  <span class="sr-only">Read on Tapas</span>
  <i class="ico tapas"></i>
</a>  */}}
{{ end }}
  <a rel="noreferrer" target="_blank" href="/index.xml" title="Subscribe to RSS Feed">
    <span class="sr-only">Subscribe to RSS Feed</span>
    <svg aria-hidden="true"
    class="social-share__icon">
      <use xlink:href="/sprites/solid.svg#rss"></use>
    </svg>
  </a>

