<!-- Begin Mailchimp Signup Form -->
<section id="mc_embed_signup" class="subscribe contrast">
  <div class="container">
    <form action="https://tavern-wenches.us20.list-manage.com/subscribe/post?u=0f66dc769ac97336196e89d31&amp;id=927b607c54" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
    <h2>Subscribe to the Latest Rumors!</h2>
    <p>Get the comic delivered to your email, for free!</p>
    <div class="subscribe__form">
    <span class="focusable">
      <input type="email" value="" name="EMAIL" class="email input" id="mce-EMAIL" placeholder="email address" required>
    </span>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0f66dc769ac97336196e89d31_927b607c54" tabindex="-1" value=""></div>
      <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-inverse btn-large btn-noRadius btn-small-caps">Subscribe</button>
      </div>
    </div>
  </form>
  </div>
</section>
<!--End mc_embed_signup-->