.btn {
  display: inline-block;
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--btn-color);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  text-decoration: none;
  padding: .25em;
  text-transform: uppercase;
  letter-spacing: .5px;
  border-radius: 3px;
  &:hover {
    background: var(--btn-bg__hover);
  }
  &:active, &:focus{
    background: var(--btn-bg__focus);
  }
  &-inverse {
    background-color: var(--btn-inverse-bg);
    border: 1px solid var(-btn-inverse-border);
    color:  var(--btn-inverse-color);
    &:hover {
      background: var(--btn-inverse-bg__hover);
    }
    &:active, &:focus{
      background: var(--btn-inverse-bg__focus);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .6;
  }

  &-block {
    display: block;
    width: 100%;
  }
  &-large {
    font-size: 1.5rem;
    padding: .5em;
    height: 57px;
  }
  &-noRadius {
    border-radius: 0;
  }
  &-small-caps {
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-family: $serif;
    text-transform: none;
  }
}