.btn {
  display: inline-block;
  font-family: $sans-serif;
  font-weight: 400;
  color: $button-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: $button-bg;
  border: 1px solid $button-bg;
  text-decoration: none;
  padding: .25em;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: .5px;

  &-inverse {
    background-color: $button-color;
    border: 1px solid $button-bg;
    color:  $button-bg;
    &:hover {
      background: rgba($button-bg, .05);
      opacity: 1;
      text-decoration: none;
    }
  }
  &:hover {
    opacity: .75;
    text-decoration: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .6;
  }

  &-block {
    display: block;
  }
}