:root {
  --white: #fbf8f9;
  --black: #010101;

  --accent-800: #491f2f;
  --accent-600: #6D2E46;
  --accent-500: #794056;
  --accent-400: #926274;
  --accent-300: #b4939f;
  --accent-100: #dfd0d5;

  --secondary-600: #CEBEBE;
  --secondary-300: #ECE2D0;
  
  // opaque greys
  --grey-800:   #0e0d0d;
  --grey-700:   #333233;
  --grey-600:   #656464;
  --grey-500:   #979596;
  --grey-400:   #c9c7c7;
  --grey-300:   #d6d3d4;
  --grey-200:   #e2dfe0;
  --grey-100:   #efeced;

  --black-trans-800: rgba(1,1,1,0.95);
  --black-trans-700: rgba(1,1,1,0.8);
  --black-trans-600: rgba(1,1,1,0.6);
  --black-trans-500: rgba(1,1,1,0.4);
  --black-trans-400: rgba(1,1,1,0.2);
  --black-trans-300: rgba(1,1,1,0.15);
  --black-trans-200: rgba(1,1,1,0.1);
  --black-trans-100: rgba(1,1,1,0.05);

  --white-trans-800: rgba(251,248,249,0.95);
  --white-trans-700: rgba(251,248,249,0.8);
  --white-trans-600: rgba(251,248,249,0.6);
  --white-trans-500: rgba(251,248,249,0.4);
  --white-trans-400: rgba(251,248,249,0.2);
  --white-trans-300: rgba(251,248,249,0.15);
  --white-trans-200: rgba(251,248,249,0.1);
  --white-trans-100: rgba(251,248,249,0.05);

  --purple:     #8a53b0;
  --grey-blue:  #7e88b7;
  --blue:       #73cde5;
  --sea-green:  #4b9482;
  --green:      #588237;
  --yellow:     #d7bd54;
  --orange:     #af8229;
  --red:        #974c4b;
}