$grain: #d7cec7;
$blackboard: #565656;
$oxblood: #76323f;
$tan: #c09f80;
$white: #fcfcfc;
$black: #131313;

$html-background: $black;
$site-background: $grain;
$site-link: $oxblood;
$site-text: $black;

$skip-nav-bg: $blackboard;
$site-header-bg: $white;
$site-header-mobile-bg: $black;
$site-header-mobile-link: $grain;
$site-header-link: $oxblood;

$header-socials-color: $oxblood;
$header-socials-bg: $white;

$header-bg: $blackboard;
$header-color: $white;

$page-background: $white;

$button-bg: $blackboard;
$button-color: $white;

$pagination-color: $black;

$comic-nav-bg: $blackboard;
$comic-nav-link: $white;

$comic-archive-border: $grain;
$comic-archive-link-bg: $white;
$comic-archive-link-color: $black;
$comic-archive-link-date-color: lighten($black, 25%);
$comic-archive-link-visited: $blackboard;
