$color1: #ECE2D0;
$color2: #A26769;
$color3: #6D2E46;
$color4: #D5B9B2;
$color5: #CEBEBE;
$white: #fbf8f9;
$black: #1a0b11;

$html-background: $color3;
$site-background: $black;
$site-link: $color3;
$site-text: $black;

$site-footer: $color3;

$skip-nav-bg: $color2;
$site-header-bg: $white;
$site-header-mobile-bg: $black;
$site-header-mobile-link: $white;
$site-header-link: $color3;

$header-socials-color: $color3;
$header-socials-bg: $white;

$header-bg: $color2;
$header-color: $white;

$heading-color: $color3;

$page-background: $white;

$button-bg: $color2;
$button-color: $white;

$pagination-color: $black;

$comic-nav-bg: $color2;
$comic-nav-link: $white;

$comic-archive-border: $color1;
$comic-archive-link-bg: $white;
$comic-archive-link-color: $black;
$comic-archive-link-date-color: lighten($black, 25%);
$comic-archive-link-visited: $color2;
