.input {
	display: inline-block;
	margin: 0;
  font-family: $sans-serif;
  font-weight: 400;
	font-size: 1.5rem;
	background: var(--btn-inverse-bg);
	color: var(--input-color);
  user-select: none;
  text-decoration: none;
  padding: .5em;
	border: 1px solid var(--input-border);
  &::placeholder {
    font-style: italic;
  }
  &.disabled,
  &:disabled {
    background: var(--input-background__disabled);
  }

  &-block {
    display: block;
    width: 100%;
  }
}