.input {
	display: inline-block;
	margin: 0;
  font-family: $sans-serif;
  font-weight: 400;
	font-size: 1.5rem;
	background: var(--btn-inverse-bg);
	color: var(--input-color);
  user-select: none;
  text-decoration: none;
  padding: .5em;
	border: 1px solid var(--input-border);
  &::placeholder {
    font-style: italic;
  }
  &.disabled,
  &:disabled {
    background: var(--input-background__disabled);
  }

  &-block {
    display: block;
    width: 100%;
  }
}

.form {
  background: var(--form-bg);
  border: 1px solid var(--form-border);
  padding: 1em;

  &__fieldset {
    border: 0;
    padding: 0;
  }
  &__legend {
    font-family: $serif;
	  color: var(--site-heading-color);
    font-size: 1.296em;
    margin-bottom: 1rem;
    @media (min-width: $bp_md) {
      font-size: 1.728em;
    }
  }
  &__label {
    width: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
  }
  &__field {
    padding-bottom: 1em;
  }
  &__select {
    font-size: 1rem;
  }
  &__checkbox {
    height: 24px;
    width: 24px;
  }
}