@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	font-size: 1em;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	height: 100%;
}

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
	display: grid;
	min-height: 100%;
	grid-template-rows: 1fr auto;
}

.site-main {
	padding: 1em;
	max-width: 70em;
	margin: 1em auto;
}

.site-footer {
	text-align: center;
	padding: 2em;
	grid-row-start: 2;
	grid-row-end: 3;
}

.comic_title {
	margin: 0;
}

@media only screen and (min-width: 50em) {
	.comic_row {
		display: flex;
		justify-content: center;
	}
}

.comic_panel {
	padding: .5em;
 	text-align: center;
}

.comic_img {
	max-width: 100%; 
	max-height: 500px;
}

@media only screen and (min-width: 50em) {
	.comic_img {
		max-width: 100%;
		height: auto;
		max-height: auto;
	}
}

.comic-archive {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comic-archive__item {
	position: relative;
	border-bottom: 1px solid #f5f5f5;
}

.comic-archive__item:first-child {
	border-top: 1px solid #f5f5f5;
}

.comic-archive__item:hover,
.comic-archive__item:focus	{
	background: #fbfbfb;
}

.comic-archive__link {
	display: block;
	height: 5em;
	white-space: nowrap;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
	color: black;
}

.comic-archive__link:hover {
	text-decoration: none;
	color: black;
}

.comic-archive__item__title {
	font-size: 1.2em;
	text-align: left;
	flex-grow: 2;
}

.comic-archive__item__thumb {
	max-height: 100%;
	width: auto;
	margin-right: 1em;
}

.comic-archive__item__date {
	font-size: .8em;
	color: #b1b1b1;
	letter-spacing: 1px;
	text-align: right;
	flex-grow: 1;
}

.post-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.post {
	margin-bottom: 4em;
}

.post-title {
	text-decoration: none;
	font-size: 2em;
	line-height: 1.4;
	color: black;
}

.post-meta {
	color: #333;
	font-size: .8em;
	display: block;
	margin-top: 0;
	margin-bottom: 2em;
}