{{ define "main" }}
<div class="characters">
  <header class="page__header">
    <h1 class="text-center page__title">{{ .Title }}</h1>
  </header>
    <div class="characters__group">
    {{ range .Data.Pages }}
      <a href="{{.Permalink}}" class="characters__item characters__item-{{lower .Title}}" title="{{ .Title}}">
        <picture class="characters__thumb">
          {{ if (isset .Params "thumbnail")}}
          {{ $thumb := resources.Get .Params.thumbnail}}
          {{ $thumb_1400x := $thumb.Resize "1400x q100" }}
          {{ $thumb_700x := $thumb.Resize "700x q100" }}
          {{ $thumb_350x := $thumb.Resize "350x q100" }}
          <source srcset="
                {{ $thumb_1400x.Permalink }} 1400w,
                {{ $thumb_700x.Permalink }} 700w,
                {{ $thumb_350x.Permalink }} 350w">
          <img src="{{ $thumb_350x.Permalink }}" alt="{{ .Title }}" width="{{ $thumb.Width }}"
            height="{{ $thumb.Height }}" loading="lazy">
          {{ end }}
        </picture>
        <div class="characters__overlay"></div>
        <div class="characters__details">
          {{ .Title }}
        </div>
      </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}