.container {
  margin: 0;
  width: auto;
  @media (min-width: $bp_md) {
    margin: 0 2em;
  }
  @media (min-width: $bp_xl) {
    margin: 0 auto;
    max-width: calc(1400px - 2em);
  }
}

.page {
	background: $page-background;
  padding: 1em;
  margin-top: -3em;
  &__header {
    width: 100%;
    background: $header-bg;
  }
  &__title {
    color: $header-color;
    padding: 2em 1em 3em 1em;
    margin: 0;
    text-align: center;
    font-size: 2em;
  }
}

.row {
  @media (min-width: $bp_md) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}