.container {
  margin: 0 auto;
  max-width: 1200px;
}

.page {
	background: $page-background;
	padding: 1em;
  margin: -3em auto 3em;

  &__header {
    width: 100%;
    background: $header-bg;
  }
  &__title {
    color: $header-color;
    padding: 2em 1em 3em 1em;
    margin: 0;
    text-align: center;
    font-size: 2em;
  }
}

.row {
  @media (min-width: $bp_md) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}