.container {
  margin: 0 auto;
  max-width: 1200px;
}

.page {
	background: $page-background;
	padding: 1em;
	margin: 0 auto;
  @media (min-width: $bp_md) {
    margin: 1em auto 4em;
  }
}

.row {
  @media (min-width: $bp_md) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}