/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "./base/normalize.scss";
@import "./base/colors.scss";
@import "./base/fonts.scss";
@import "./base/breakpoints.scss";
@import "./base/button.scss";


/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "./layout/base.scss";

/* Component
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "./component/header.scss";
@import "./component/footer.scss";
@import "./component/comic.scss";
@import "./component/comic-archive.scss";
@import "./component/comic-nav.scss";
@import "./component/pagination.scss";
@import "./component/social-share.scss";
@import "./component/character.scss";
@import "./component/characters.scss";
@import "./component/home.scss";
@import "./component/post.scss";

html {
	font-size: 1em;
	box-sizing: border-box;
  height: 100%;
  font-family: $sans-serif;
	line-height: 1.15;
	background: $html-background;

}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.45;
	color: $site-text;
	display: grid;
	min-height: 100%;
  grid-template-rows: 1fr auto;
	font-size: 1rem;
	padding-bottom: 0px;
	@media (min-width: $bp_md) {
		background: $site-background url('../assets/images/pattern.png') repeat center center;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
	color: $heading-color;
}

h1 {
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 2px;
	margin: 0;
}

a {
	color: $site-link;
}

img {
	max-width: 100%;
	height: auto;
}

dt {
	font-weight: bold;
	color: $site-link;
	display: inline;
	padding-right: .5em;
	margin: 0;
}

dd {
	display: inline;
	margin: 0;
}


hr {
	height: 2px;
	border: 0;
	background: $site-link;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.hidden {
	display: none;
}