@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "./base/normalize.scss";
@import "./base/colors.scss";
@import "./base/fonts.scss";
@import "./base/breakpoints.scss";
@import "./base/button.scss";


/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "./layout/base.scss";

/* Component
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "./component/header.scss";
@import "./component/footer.scss";
@import "./component/comic.scss";
@import "./component/comic-archive.scss";
@import "./component/comic-nav.scss";
@import "./component/pagination.scss";
@import "./component/social-share.scss";
@import "./component/home.scss";

html {
	font-size: 1em;
	box-sizing: border-box;
  height: 100%;
  font-family: sans-serif;
	line-height: 1.15;
	background: $html-background;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: $site-background;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: $site-text;
	display: grid;
	min-height: 100%;
  grid-template-rows: 1fr auto;
	font-size: 1rem;
	padding-bottom: 100px;
	@media (min-width: $bp_sm) {
		padding-bottom: 87px;
	}
	@media (min-width: $bp_md) {
		padding-bottom: 0;
	}
}

a {
	color: $site-link;
}

img {
	max-width: 100%;
	height: auto;
}

.posts {
	background: $page-background;
	padding: 1em;
}

@media (min-width: 992px) {
	.posts {
		margin: 1em auto;
	}
}

.post-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.post {
	margin-bottom: 4em;
}

.post-title {
	text-decoration: none;
	font-size: 1.5rem;
	line-height: 1.4;
}

.post-meta {
	color: $site-text;
	font-size: .8em;
	display: block;
	margin-top: 0;
	margin-bottom: 2em;
}

.pagination {
  align-items: stretch;
  margin: 0;
}

.page-link {
	height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}