/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "./base/colors.scss";
@import "./base/theme.scss";
@import "./base/fonts.scss";
@import "./base/breakpoints.scss";
@import "./base/button.scss";
@import "./base/input.scss";
@import "./base/text.scss";

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "./layout/base.scss";

/* Component
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "./component/header.scss";
@import "./component/footer.scss";
@import "./component/comic.scss";
@import "./component/comic-archive.scss";
@import "./component/comic-nav.scss";
@import "./component/pagination.scss";
@import "./component/settings.scss";
@import "./component/social-follow.scss";
@import "./component/social-share.scss";
@import "./component/character.scss";
@import "./component/characters.scss";
@import "./component/home.scss";
@import "./component/post.scss";
@import "./component/subscribe.scss";
@import "./component/404.scss";

html {
	margin: 0;
	padding: 0;
	font-size: 1em;
	box-sizing: border-box;
  height: 100%;
  font-family: $sans-serif;
	line-height: 1.15;
	background: var(--html-bg);
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1.45;
  color: var(--site-text-color);
  background: var(--site-bg);
	display: grid;
	min-height: 100%;
  grid-template-rows: 1fr auto;
	font-size: 1rem;
	padding-bottom: 0px;
}

html {font-size: 100%;} /*16px*/

body {
  font-family: $sans-serif;
  font-weight: 400;
  line-height: 1.65;
}

img {
	max-width: 100%;
	height: auto;
}


details > summary {
	cursor: pointer;
}

.focusable {
	display: inline-block;
	line-height: 0; // this prevents a weird margin under the textarea
}

a:focus,
button:focus,
input:focus,
.focusable:focus-within {
  position: relative;
  outline: 0;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-image: var(--site-link-border);
    background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    animation: marching-ants 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.contrast {
  a:focus,
  button:focus,
  input:focus,
  .focusable:focus-within {
    &::after {
      background-image: var(--site-link-border__contrast);
    }
  }
}

@keyframes marching-ants {
  0% {
    background-position: 0 0,  0 100%,  0 0,  100% 0;
  }
  100% {
    background-position: 20px 0, -20px 100%, 0 -20px, 100% 20px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.hidden {
	display: none;
}