.characters {
  max-width: 1600px;
  margin: 0 auto;
  &__group {
    display: grid;
    margin: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    @media (min-width: $bp_sm) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: $bp_md) {
      margin: 5em 1em;
      grid-gap: 1em;
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: $bp_lg) {
      margin: 5em 1em;
      grid-gap: 1em;
      grid-template-columns: repeat(8, 1fr);
    }
  }
  &__item {
    overflow: hidden;
    position: relative;
    transition: background .35s ease-out;
    display: flex;
    align-items: flex-end;
    background: #999;
    &:hover, &:focus {
      .characters__overlay {
        opacity: 0;
      }
      @media (min-width: $bp_md) {
        .characters__details {
          opacity: .8;
        }
      }
    }
    @media (min-width: $bp_md) {
      height: 55vh;
    }
    &-anita {
      @media (min-width: $bp_md) {
        clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
      }
      &:hover, &:focus {
        background: #8a53b0;
      }
      .characters__overlay {
        background: #8a53b0;
      }
    }
    &-frank {
      @media (min-width: $bp_md) {
        clip-path: polygon(0 7%, 100% 5%, 100% 96%, 0 95%);
      }
      &:hover, &:focus {
        background: #7e88b7;
      }
      .characters__overlay {
        background: #7e88b7;
      }
    }
    &-gm {
      @media (min-width: $bp_md) {
       clip-path: polygon(0 3%, 100% 1%, 100% 98%, 0 97%);
      }
      &:hover, &:focus {
        background: #73cde5;
      }
      .characters__overlay {
        background: #73cde5;
      }
    }
    &-horbin {
      @media (min-width: $bp_md) {
        clip-path: polygon(0 4%, 100% 7%, 100% 97%, 0 99%);
      }
      &:hover, &:focus {
        background: #4b9482;
      }
      .characters__overlay {
        background: #4b9482;
      }
    }
    &-lulu {
      @media (min-width: $bp_md) {
        clip-path: polygon(0 2%, 100% 0%, 100% 92%, 0 94%);
      }
      &:hover, &:focus {
        background: #588237;
      }
      .characters__overlay {
        background: #588237;
      }
    }
    &-thog {
      @media (min-width: $bp_md) {
        clip-path: polygon(0 3%, 100% 5%, 100% 96%, 0 93%);
      }
      &:hover, &:focus {
        background: #af8229;
      }
      .characters__overlay {
        background: #af8229;
      }
    }
    &-veronica {
      @media (min-width: $bp_md) {
        clip-path: polygon(0 6%, 100% 4%, 100% 96%, 0 98%);
      }

      &:hover, &:focus {
        background: #d7bd54;
      }
      .characters__overlay {
        background: #d7bd54;
      }
    }
    &-xavros {
      @media (min-width: $bp_md) {
        clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0 97%);
      }
      &:hover, &:focus {
        background: #974c4b;
      }
      .characters__overlay {
        background: #974c4b;
      }
    }
  }
  &__thumb {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
      width: auto;
      max-width: initial;
      height: 100%;
    }
  }
  &__overlay {
    background: $color3;
    height: 100%;
    left: 0;
    width: 100%;
    mix-blend-mode: color;
    opacity: .9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: opacity .35s ease-out;
  }
  &__details {
    opacity: .8;
    color: $white;
    background: rgba($black, .8);
    padding: .2em .2em;
    font-family: $serif;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    position: absolute;
    bottom: 2em;
    right: 0; 
    left: 0;
    text-align: center;
    font-size: .8em;
    transition: opacity .35s ease-out;
    @media (min-width: $bp_md) {
      font-size: 1.2em;
      opacity: 0;
    }
  }
}
