.characters {
  .page__header {
    height: 10em;
  }
  &__subheader {
    margin: 1rem;
    text-align: center;
    padding: .2em 1em;
    h2 {
      margin: 0;
      color: $black;
      border-radius: 4px;
      box-shadow: 0 0 2px rgba($black, .8); 
      display: inline-block;
      background: $color1;
      padding: .2em .5em;
    }
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3em 2em 0em;
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 3em;
    margin-bottom: 5em;
    margin-top: 2em;
    @media (min-width: $bp_md) {
      margin: 2em auto 6em;
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
    @media (min-width: $bp_lg) {
      margin: 2em auto 6em;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
    &::before {
      content: '';
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
    > *:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }
  &__item {
    border-radius: 100%;
    border: 4px solid $color1;
    overflow: hidden;
    position: relative;
    background: $color3;
    transition: background .35s ease-out;
    display: flex;
    align-items: flex-end;
    &:hover, &:focus {
      background: $color2;
    }
  }
  &__thumb {
    display: flex;
    align-items: flex-end;
  }
  &__details {
    color: $white;
    background: rgba($black, .8);
    padding: .2em 2em;
    font-family: $serif;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    position: absolute;
    bottom: 1em;
    right: 0; 
    left: 0;
    text-align: center;
    font-size: .8em;
    @media (min-width: $bp_md) {
      font-size: 1.2em;
    }
  }
}
