.character {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  &__character-sheet {
    background: $character-background;
    padding: 1em;
    box-shadow: 1px 4px 14px $character-shadow;
    border-top: 4px solid $character-border;
    border-bottom: 4px solid $character-border;
    @media (min-width: $bp_md) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      margin: 0 auto;
      column-gap: 2em;
    }
    &_censor {
      user-select: none;
      li, dd, td {
        background: $black;
      }
      dd {
        min-width: 200px;
        display: inline-block;
      }
    }
  }
  &__section {
    break-inside: avoid;
  }
  &-stats {
    margin: .5em 0;
  }
  &__ability {
    width: 100%;
    text-align: center;
    &__header {
      font-weight: bold;
      padding-bottom: .3em;
      color: $site-link;
    }
  }
  &__name {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  &__header {
    font-family: $sans-serif;
    border-bottom: 1px solid $site-link;
  }
  &__content {
    margin: 1.5em 0;
    p {
      margin: 0 0 16px 0;
    }
    @media (min-width: $bp_md) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      margin: 2em auto;
      column-gap: 2em;
    }
  }
  &__image {
    img {
      background: $color5;
      border-radius: 100%;
      overflow: hidden;
      width: 350px;
      max-width: 100%;
      height: auto;
      margin: 1em auto;
    }
  }
  &__no-info {
    font-family: $sans-serif;
    text-align: center;
    width: 75%;
    margin: 2em auto;
    color: $site-header-link;
    font-size: 2em;
  }
}