.characters {
  .page__header {
    height: 10em;
  }
  .container {
    padding-top: 3em;
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 3em;
    @media (min-width: $bp_md) {
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
    &::before {
      content: '';
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
    > *:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }
  &__item {
    border-radius: 100%;
    border: 3px solid $white;
    overflow: hidden;
    position: relative;
    background: $color3;
    background: linear-gradient($color3, darken($color3, 10%));
    transition: background .5s ease-out;
    display: flex;
    align-items: flex-end;
    &:hover, &:focus {
      background: rgba($color3, .8);
      background: linear-gradient(rgba($color3, .8), darken(rgba($color3, .8), 10%));
    }
  }
  &__thumb {
    display: flex;
    align-items: flex-end;
  }
  &__details {
    color: $white;
    background: rgba($black, .8);
    padding: .2em 2em;
    font-family: $serif;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    position: absolute;
    bottom: 1em;
    right: 0; 
    left: 0;
    text-align: center;
    font-size: .8em;
    @media (min-width: $bp_md) {
      font-size: 1.2em;
    }
  }
}
