.comic-archive__header {
	width: 100%;
	background: $header-bg;
}

.comic-archive__title {
	color: $header-color;
	padding: 2em 1em 3em 1em;
  margin: 0;
  text-align: center;
}

.comic-archive__container {
	background: $page-background;
	position: relative;
	margin-top: -3em;
	margin-bottom: 3em;
}

.comic-archive__content {
	@media (min-width: $bp_md) {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 1;
  }
}

.comic-archive__list {
	list-style: none;
	margin: 0;
	padding: 1em;
}

.comic-archive__item {
	position: relative;
	border-bottom: 1px solid $comic-archive-border;
}

.comic-archive__item:first-child {
	border-top: 1px solid $comic-archive-border;
}

.comic-archive__link {
	height: 80px;;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
  color: $comic-archive-link-color;
  background: $comic-archive-link-bg;
  &:visited {
		color: $comic-archive-link-visited;
		background: darken($comic-archive-link-bg, 5%)
  }
  &:hover,
  &:focus	{
		background: lighten($comic-archive-link-bg, 10%);
		text-decoration: none;
		color: $comic-archive-link-color;
		outline: 0;
  }
}

.comic-archive__item__title {
	font-size: .8em;
	text-align: left;
	flex-grow: 2;
	@media (min-width: $bp_md) {
		font-size: 1.2em
	}
}

.comic-archive__item__thumb {
	height:80px;
	width: 80px;
  margin-right: 1em;
  opacity: 1;
}

.comic-archive__item__date {
	font-size: .7em;
	color: $comic-archive-link-date-color;
	letter-spacing: 1px;
	text-align: right;
  flex-grow: 1;
	min-width: 100px;
	@media (min-width: $bp_md) {
		font-size: .8em
	}
}

.comic-archive__about {
  padding: 1em;
  @media (min-width: $bp_md) {
    grid-column-start: 9;
    grid-column-end: span 4;
    grid-row-start: 1;
    border-left: 1px solid $comic-archive-border;
  }
}