.comic-navigation {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
  padding: .5em 1em;
  background: #343a40;
  @media (min-width: $bp_md) {
		top: 3.35em;
		background: #64717d;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 35em;
    margin: 0 auto;
    color: #fff;
  } 
  &__item {
    &.current {
      text-align: center;
      max-width: 40%;
      font-size: .8em;
      @media (min-width: $bp_md) {
        font-size: 1em;
      }
    }
  } 
  &__link {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    span {
      display: none;
      @media (min-width: $bp_md) {
        display: inline-block;
      }
    }
    svg {
      margin: .5em;
      fill: #fff;
    }
    &:hover,
    &:focus {
      opacity: .75;
    }
    &.disabled {
      opacity: .65;
    }
  }
}
