.comic-navigation {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
  padding: .5em 1em;
  background: var(--comic-nav-bg);
  z-index: 10000;
  box-shadow: 0 .4em .4em var(--site-header-shadow); 
  @media (min-width: $bp_md) {
		top: 2.75em;
		background: var(--comic-nav-bg);
  }
  @media (min-width: $bp_lg) {
    top: 3.4em;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 35em;
    margin: 0 auto;
    color: var(--comic-nav-link-color);
  } 
  &__item {
    &.current {
      text-align: center;
      width: 40%;
      font-size: .9em;
      font-family: $serif;
      letter-spacing: 2px;
      font-variant: small-caps;
      font-weight: bold; 
      @media (min-width: $bp_md) {
        font-size: 1em;
      }
    }
  } 
  &__link {
    display: inline-flex;
    align-items: center;
    color: var(--comic-nav-link-color);
    text-decoration: none;
    span {
      display: none;
      @media (min-width: $bp_md) {
        display: inline-block;
      }
    }
    svg {
      margin: .5em;
      fill: var(--comic-nav-link-color);
    }
    &:hover,
    &:focus {
      opacity: .75;
    }
    &.disabled {
      opacity: .65;
    }
  }
}
