.comic.container {
	padding-top: 4em;
}

.comic__title {
	margin: 0;
}

.comic__header {
	display: flex;
	padding: .5em;
	justify-content: space-between;
}

.comic__title {
	font-size: .9rem;
	margin: 0;
	padding: 0;
	display: block;
	line-height: 1;
}

.comic__date {
	font-size: .9rem;
	margin: 0;
	padding: 0;
	display: block;
	line-height: 1;
}

.comic__author {
	font-size: .9rem;
	margin: 0;
	padding: 0;
	display: block;
	line-height: 1;
}

.comic__whole {
	img {
		max-width: 100%;
		height: auto;
	}
}

@media (min-width: $bp_md) {
	.comic__row {
		display: flex;
		justify-content: center;
	}
}

.comic__panel {
		padding: .5em;
		text-align: center;
	 @media (min-width: $bp_md) {
		height: auto;
		display: block;
	 }
}

.comic__img {
	max-width: 100%; 
	max-height: 500px;
}

@media (min-width: $bp_md) {
	.comic__img {
		max-width: 100%;
		height: auto;
		max-height: auto;
	}
}

.comic-nav_top {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
  padding: .5em 1em;
  background: #343a40;
  @media (min-width: $bp_md) {
		top: 3.35em;
		background: #64717d;
	}
}

.comic-nav_bottom {
  display: none;
  @media (min-width: $bp_md) {
    display: block;
  }
}