.site-footer {
	padding: 2em 0 3em;
	grid-row-start: 2;
	grid-row-end: 3;
	background: $site-footer;
	margin-top: 2em;
	font-weight: bold;
	opacity: .9;
	color: rgba($white, .7);
	a {
		color: rgba($white, .7);
	}
	svg {
		fill: rgba($white, .7);
	}
	@media (min-width: $bp_md) {
		text-align: right;
		padding: 4em 0 2em 0;
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-content: center;
		padding-bottom: 2em;
	}
	&__copy {
		text-transform: uppercase;
		display: block;
	}
	&__left {
		display: none;
		@media (min-width: $bp_md) {
			display: flex;
		}
	}
	&__right {
		text-align: left;
		font-size: .8em;
		@media (min-width: $bp_md) {
			text-align: right;
			font-size: 1.2em;
		}
	}

	&__logo {
		display: block;
		margin-bottom: .5em;
		@media (min-width: $bp_md) {
			margin-bottom: 1em;
		}
		svg {
			width: 200px;
			height: auto;
			@media (min-width: $bp_md) {
				width: 300px;
				height: auto;
			}	
		}
	}

	&__socials {
		margin-top: 1.5em;
		@media (min-width: $bp_md) {
			display: none;
		}	
		a {
			text-decoration: none;
			margin-right: 1em;
			@media (min-width: $bp_md) {
				margin-right: 0;
				margin-left: 1.25em;
			}
		}
		svg {
			width: 24px;
			height: 24px;
			fill: rgba($white, .7);
			@media (min-width: $bp_md) {
				width: 32px;
				height: 32px;
			}
		}
	}
}