.site-header {
  position: fixed;
  bottom: 0;
  background: #343a40;
  align-items: center;
  width: 100%;
  z-index: 1;
  padding-bottom: env(safe-area-inset-bottom);
  @media (min-width: $bp_md) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: auto;
    padding: .5rem 1rem;
  }
  a {
    text-decoration: none;
    &:hover, &:focus {
      opacity: .75;
    }
  }
}
.site-header__skipNav {
  position: fixed;
  top: -50px;
  left: 0;
  background: black;
  border-radius: 1px;
  color: #fff;
  padding: 8px;
  z-index: 100;
  &:focus {
    top: 0;
    outline-color:transparent;	
    transition: top .1s ease-in;
  }
}

.site-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $bp_md) {
    justify-content: flex-start;
  }
}

.site-header__logo { 
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em 1em;
  svg {
    fill: #fff;
    width: 32px;
    height: 32px;
    @media (min-width: $bp_md) {
      display: none;
    }
  }
  @media (min-width: $bp_md) {
    padding: 0;
    font-size: 1.25rem;
    margin-right: 1rem;
  }
}
.site-header__name {
  display: none;
  @media (min-width: $bp_md) {
    display: inline-block;
  }
}

.site-header__mobile-name {
  display: none;
  @media (min-width: $bp_sm) {
    display: block;
  }
  @media (min-width: $bp_md) {
    display: none;
  }
}

.site-header__menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em 1em;
  color: #fff;
  @media (min-width: $bp_md) {
    width: auto;
    display: inline-block;
    padding: .5rem;
    color: rgba(255,255,255,.5);
  }
  span {
    display: none;
    @media (min-width: $bp_sm) {
      display: block;
    }
  }
  svg {
    fill: #fff;
    width: 32px;
    height: 32px;
    @media (min-width: $bp_md) {
      display: none;
    }
  }
}