.site-header {
  position: fixed;
  bottom: 0;
  background: var(--site-header-bg__mobile);
  align-items: center;
  width: 100%;
  z-index: 2;
  padding-bottom: env(safe-area-inset-bottom);
  @media (min-width: $bp_md) {
    background: var(--site-header-bg);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: auto;
    padding: .5rem 1rem;
    transition: box-shadow .3s ease-in;
    box-shadow: 0 0 0 transparent;
    &.active {
      box-shadow: 0 .4em .4em var(--site-header-shadow); 
    }
  }
  a, button {
    text-decoration: none;
  }
  &__skipNav {
    position: fixed;
    top: -50px;
    left: 0;
    background: var(--site-header-skip-nav-bg);
    border-radius: 1px;
    color: var(--site-header-skip-nav-color);
    padding: 8px;
    z-index: 10000;
    &:focus {
      top: 0;
      opacity: 1;
      outline-color:transparent;	
      transition: top .1s ease-in;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $bp_md) {
      justify-content: flex-start;
    }
  }
  &__logo { 
    color: var(--site-header-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em 1em;
    &__mobile {
      fill: var(--site-header-color__mobile);
      width: 32px;
      height: 32px;
      @media (min-width: $bp_md) {
        display: none;
      }
      &-label {
        display: block;
        font-size: .6em;
        font-family: $serif;
        font-weight: bold;
        font-variant: small-caps;
        letter-spacing: 1px;
        color: var(--site-header-color__mobile);
        @media (min-width: $bp_md) {
          display:none;
        }
      }
    }
    @media (min-width: $bp_md) {
      padding: 0;
      font-size: 1.25rem;
      margin-right: 1rem;
    }
  }
  &__name {
    display: none;
    @media (min-width: $bp_md) {
      display: flex;
      align-items: center;
      svg {
        width: 200px;
        height: auto;
      }
    }
  }
  &__menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em 1em;
    background: transparent;
    border: 0;
    color: var(--site-header-color__mobile);
    &.social-trigger {
      @media (min-width: $bp_md) {
        display: none;
      }
    }
    @media (min-width: $bp_md) {
      width: auto;
      display: inline-block;
      padding: .4rem;
      color: var(--site-header-color);
    }
    @media (min-width: 875px) {
      padding: .5rem;
    }
    span {
      display: block;
      font-size: .6em;
      font-family: $serif;
      font-weight: bold;
      font-variant: small-caps;
      letter-spacing: 1px;
      @media (min-width: $bp_md) {
        font-size: .7em;
      }
      @media (min-width: $bp_lg) {
        font-size: 1em;
      }
    }
    svg {
      fill: var(--site-header-color__mobile);
      width: 32px;
      height: 32px;
      @media (min-width: $bp_md) {
        display: none;
      }
    }
  
  }
  &__socials {
    display: none;
    @media (min-width: $bp_md) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: static;
      flex-grow: 1;
      padding: 0;
      height: auto;
      width: auto;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      background: transparent;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5em;
      min-height: 2.5em; 
      width: 2.5em;
      margin: .5em 0 0 0;
      color: var(--site-header-color);
      @media (min-width: $bp_md) {
        display: flex;
        align-items: center;
        background: transparent;
        height: auto;
        width: auto;
        margin: 0;
        border-radius: 0;
        min-height: auto;
      }
    }
    .tapas {
      display: inline-block;
      background: url(/sprites/tapas.png) no-repeat;
      background-size: cover;
    }
    svg, .ico {
      height: 1em;
      width: 1em;
      fill: var(--site-header-color);
      @media (min-height: 600) {
        height: 1.5em;
        width: 1.5em;
      }
      @media (min-width: $bp_md) {
        margin: 0 .25em;
        height: 1em;
        width: 1em;
        fill: var(--site-header-color);
      }
      @media (min-width: $bp_lg) {
        margin: 0 .5em;
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
}
.header-spacer {
  display: flex;
  align-items: center;
  height: 3em;
  width: 100%;
  background: var(--site-breadcrumbs-bg);
  &__breadcrumbs {
    display: flex;
    width: 100%;
    a {
      text-decoration: none;
      color: var(--site-breadcrumbs-color);
      fill: var(--site-breadcrumbs-color);
      display: flex;
      align-items: center;
      font-size: 1.2em;
      svg {
        margin-right: .5em;
      }
    }
  }
}