.site-header {
  position: fixed;
  bottom: 0;
  background: #343a40;
  align-items: center;
  width: 100%;
  z-index: 1;
  padding-bottom: env(safe-area-inset-bottom);
  @media (min-width: $bp_md) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: auto;
    padding: .5rem 1rem;
  }
  a, button {
    text-decoration: none;
    &:hover, &:focus {
      opacity: .75;
    }
  }
  &__socials {
    &.closed {
      top: 100%;
    }
    transition: top .5s ease-out;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    height: calc(100% - 3em);
    right: 0;
    width: 4em;
    padding: 1em 0;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    a {
      background: black;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3em;
      min-height: 3em; 
      width: 3em;
      margin: 1em 0 0 0;
    }
    svg {
      height: 1.5em;
      width: 1.5em;
      fill: white;
    }
    @media (min-width: $bp_md) {
      position: static;
      flex-grow: 1;
      padding: 0;
      height: auto;
      width: auto;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      background: transparent;
      a {
        display: flex;
        align-items: center;
        background: transparent;
        height: auto;
        width: auto;
        margin: 0;
        border-radius: 0;
        min-height: auto;
      }
      svg {
        margin: 0 .5em;
        height: 1.5em;
        width: 1.5em;
        fill: #fff;
      }
    }
    &__trigger {
      @media (min-width: $bp_md) {
        display: none;
      }
    }
  }
}
.site-header__skipNav {
  position: fixed;
  top: -50px;
  left: 0;
  background: black;
  border-radius: 1px;
  color: #fff;
  padding: 8px;
  z-index: 100;
  &:focus {
    top: 0;
    outline-color:transparent;	
    transition: top .1s ease-in;
  }
}

.site-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $bp_md) {
    justify-content: flex-start;
  }
}

.site-header__logo { 
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em 1em;
  svg {
    fill: #fff;
    width: 32px;
    height: 32px;
    @media (min-width: $bp_md) {
      display: none;
    }
  }
  @media (min-width: $bp_md) {
    padding: 0;
    font-size: 1.25rem;
    margin-right: 1rem;
  }
}
.site-header__name {
  display: none;
  @media (min-width: $bp_md) {
    display: inline-block;
  }
}

.site-header__menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em 1em;
  background: transparent;
  border: 0;
  color: #fff;
  &.social-trigger {
    @media (min-width: $bp_md) {
      display: none;
    }
  }
  @media (min-width: $bp_md) {
    width: auto;
    display: inline-block;
    padding: .5rem;
    color: #fff;
  }
  span {
    display: none;
    @media (min-width: $bp_md) {
      display: block;
    }
  }
  svg {
    fill: #fff;
    width: 32px;
    height: 32px;
    @media (min-width: $bp_md) {
      display: none;
    }
  }

}