$grid-size: 6;
$grid-size-lg: 6;

.home {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat($grid-size, 1fr);
  // grid-auto-rows: 1fr;
  @media (min-width: $bp_md) {
    grid-template-columns: repeat($grid-size-lg, 1fr);
  }
  &__thumb {
    display: flex;
    align-items: flex-end;
  }
  &__link {
    margin: .5rem;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--home-link-bg);
    transition: background .35s ease-out;
    min-height: 10em;
    text-decoration: none;
    position: relative;
    @media (min-width: $bp_md) {
      margin: 1rem;
      min-height: 20em;
    }
    img {
      transition: opacity .35s ease-out;
    }
    &:hover, &:focus {
      background: var(--home-link-bg__hover);
      img {
        opacity: .75;
      }
    }
    span {
      color: var(--home-link-text-color);
      background: var(--home-link-text-bg);
      padding: .2em 1em;
      font-family: $serif;
      font-weight: bold;
      font-variant: small-caps;
      letter-spacing: 1px;
      position: absolute;
      bottom: 1em;
      right: 1em; 
      font-size: .8em;
      max-width: 75%;
      @media (min-width: $bp_md) {
       font-size: 1.2em;
      }
    }
  }
  &__header {
    position: relative;   
    background: var(--home-hero-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__banner-wrap {
    display: flex;
    align-items: flex-end;
  }
  &__title {
    color: var(--home-hero-color);
    margin: 0;
    background: var(--home-hero-text-bg);
    padding: .2em 1em;
    text-align: center;
    font-size: 2em;
    width: 100%;
    @media (min-width: $bp_md) {
      position: absolute;
      bottom: 1em;
      right: 0;
      left: 0;
      padding: .2em 2em;
      width: auto;
      text-align: right;
    }
    @media (min-width: $bp_md) {
      font-size: 2em;
    }
  }
  &__news {
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end:span 6;
    grid-row-start: 3;
    margin: .5rem;
    padding: 1em 1em 4em 1em;
    position:relative;
    background: var(--news-bg);
    @media (min-width: $bp_lg) {
      grid-column-start: 1;
      grid-column-end:span 4;
      grid-row-start: 2;
      margin: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__header {
      border-bottom: 1px solid var(--news-border);
    }
    &__content {
      max-height: 400px;
      overflow: hidden;
      position: relative;
      margin-bottom: 1em;
      p {
          margin-top: 0;
          margin-bottom: 1em;
      }
      p:first-child {
        &::first-letter {
          color: var(--text-drop-letter);
          font-weight: bold;
          font-family: serif;
          font-size: 3.5em;
          line-height: 1;
          float: left;
          position: relative;
          margin-top: .15em;
          margin-right: .1em;
        }
      }
      @media (min-width: $bp_md) {
        max-height: 500px;
      }
    }
    &__archive {
        color: var(--home-link-text-color);
        position: absolute;
        background: var(--home-link-text-bg);
        padding: .2em 1em;
        font-family: $serif;
        font-weight: bold;
        font-variant: small-caps;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: .8em;
        bottom: 1em;
        right: 1em; 
        &:focus, &:active {
          position: absolute;
        }
        @media (min-width: $bp_md) {
          font-size: 1.2em;
         }
    }
  }
  &__read-latest {
    grid-column-start: 4;
    grid-column-end: span 3;
    grid-row-start: 1;
    @media (min-width: $bp_lg) {
      grid-column-start: 3;
      grid-column-end: span 2;
      grid-row-start: 1;
    }
  }
  &__comic-archive {
    display: none;
    @media (min-width: $bp_lg) {
      display: flex;
      grid-column-start: 5;
      grid-column-end: span 2;
      grid-row-start: 1;
    }
  }
  &__read-first {
    grid-column-start: 1;
    grid-column-end: span 3;
    @media (min-width: $bp_lg) {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 1;
    }
  }
  &__patreon {
    grid-column-start: 1;
    grid-column-end: span 6;
    max-height: 400px;
    @media (min-width: $bp_lg) {
      grid-column-start: 5;
      grid-column-end: span 2;
      grid-row-start: 2;
      max-height: none;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: none;
      @media (min-width: $bp_sm) {
        max-height: none;
      }
    }
  }
}