$grid-size: 100 / 2 + vw;
$grid-size-lg: 100 / 3 + vw;

.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($grid-size, 1fr));
  grid-auto-rows: 1fr;
  min-height: 100%;
  @media (min-width: $bp_lg) {
    grid-template-columns: repeat(auto-fill, minmax($grid-size-lg, 1fr));
  }
  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  > * {
    background: rgba(0,0,0,0.1);
    border: 1px white solid;
  }
  &__link {
    margin: .5em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    @media (min-width: $bp_md) {
      margin: 1em;
    }
  }
  &__header {
    margin: .5em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    @media (min-width: $bp_md) {
      margin: 1em;
      grid-column-start: 1;
      grid-column-end: span 3;
    }
  }
  &__patreon {
    grid-column-start: 1;
    grid-column-end: span 2;
    @media (min-width: $bp_lg) {
      margin: 1em;
      grid-column-start: 3;
      grid-column-end: 3;
    }
  }
  
}