.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $sans-serif;
  &__item {
    margin: 0 .4em;
  }
  &__link {
    text-decoration: none;
    color: var(--pagination-color);
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    &:hover, &:active {
      background: var(--pagination-bg__hover);
    }
    &.current {
      font-weight: bold;
      color: var(--pagination-color__active);
      background: var(--pagination-bg__active);
      &:hover, &:active {
        background: var(--pagination-bg__active__hover);
      }
    }
    &.disabled {
      opacity: .85;
      &:hover {
        background: transparent;
      }
    }
  }
}