.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  padding: 0;
  list-style: none;
  &__item {
    margin: 0 1em;
  }
  &__link {
    text-decoration: none;
    color: #2f2f2f;
    &.current {
      font-weight: bold;
    }
    &.disabled {
      opacity: .85;
    }
  }
}