.posts {
  max-width: 1000px;
}
.post {
  margin-bottom: 4em;
  &__title {
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.4;
  }
  &__meta {
    color: $site-text;
    font-weight: bold;
    font-size: .9em;
    display: block;
    margin-top: 0;
    margin-bottom: 2em;
  }
  &__summary {
    p {
      margin-top: 0;
      margin-bottom: 1em;
    }
      p:first-child {
        &::first-letter {
          color: $color3;
          font-weight: bold;
          font-family: serif;
          font-size: 3.5em;
          line-height: 1;
          float: left;
          position: relative;
          margin-top: 0;
          margin-right: .1em;
        }
      }

  }
}
