.social-share {
  margin: 0;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    margin: 0 0 0 1em;
    display: flex;
  }
  &__link {
    border: 0;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus {
      opacity: .75;
    }
  }
  &__icon {
    height: 1em;
    width: 1em;
    fill: $color2;
  }
}