{{ define "main" }}
<header class="page__header">
    <h1 class="text-center page__title">{{ .Title }}</h1>
</header>
<div class="posts container page">
		<ul class="post-list">
		<!-- Ranges through content/post/*.md -->
		{{ range .Data.Pages }}
				<li class="post">
						<a 
							class="post-title"
							href="{{.Permalink}}">
								{{.Title}}
						</a>
						<span class="post-meta">
							<time>{{.Date.Format "January 1, 2006"}}</time>
						</span>
						<div class="post-summary">
							{{.Content}}
						</div>
				</li>
		{{ end }}
		</ul>
</div>
{{ end }}