{{ define "main" }}
<header class="page__header">
    <h1 class="text-center page__title">{{ .Title }}</h1>
</header>
<div class="posts container page">
		<div class="posts-list">
		<!-- Ranges through content/post/*.md -->
		{{ range .Data.Pages }}
				<article class="post">
						<a 
							class="post__title"
							href="{{.Permalink}}">
								{{.Title}}
						</a>
						<span class="post__meta">
							<time>{{.Date.Format "January 1, 2006"}}</time>
						</span>
						<div class="post__summary">
							{{.Content}}
						</div>
					</article>
		{{ end }}
			</div>
</div>
{{ end }}