{{ define "main" }}
<div class="comic-archive">
	<header class="comic-archive__header">
			<h1 class="text-center comic-archive__title">{{ .Params.pageTitle }}</h1>
	</header>
	<div class="container comic-archive__container">
		<div class="row">
			<div class="comic-archive__about">
				{{ .Content }}
				{{ $comics := ($.Site.GetPage "section" "comic").Pages.ByPublishDate }}
				{{ range first 1 $comics }}
					<p class="text-center">
							<a class="btn btn-primary btn-block" href="{{ .Permalink }}" role="button">First Comic</a>
					</p>
					<p class="text-center">
						<a id="comic-continue" class="btn btn-inverse btn-block hidden" role="button">Continue Quest</a>
					</p>
				{{ end }}
			</div>
			<div class="comic-archive__content">
				<ul class="comic-archive__list">
						{{ range (.Paginate (.Data.Pages.ByDate.Reverse)).Pages }}
							<li class="comic-archive__item">
								<a class="comic-archive__link" href="{{.Permalink}}">
									{{ if (isset .Params "thumbnail")}}
										{{ $thumbnail := resources.Get .Params.thumbnail}}
										{{ $thumbnail_2x := $thumbnail.Fill "160x160" }}
										{{ $thumbnail_1x := $thumbnail.Fill "80x80"}}
									<picture class="comic-archive__item__thumb">
										<source srcset="{{ $thumbnail_2x.Permalink }} 2x, {{ $thumbnail_1x.Permalink }} 1x">
										<img src="{{ $thumbnail_1x.Permalink }}" alt="">
									</picture>
									{{ end }}
									<span class="comic-archive__item__title">
										{{.Title}}
									</span>
									<span class="comic-archive__item__date">{{ .Date.Format "Jan 2, 2006" }}</span>
								</a>
							</li>
						{{ end }}
					</ul>
					{{ partial "pagination.html" . }}
			</div>
		</div>
	</div>
</div>

<script>
	var comics = [{{ range $comics }}{{ .Permalink }},{{ end }}]
	var currentComic = localStorage.getItem('current-comic');
	var continueQuest = document.getElementById('comic-continue');

	comics.forEach((comic, index) => {
		if (comic == currentComic) {
			if (comics.length > index + 2) {
				continueQuest.href = comics[index+1];
				continueQuest.classList.remove('hidden')
			}
		}
	})
</script>

{{ end }}