{{ define "main" }}
<div class="page comic container">
	{{ partial "comic-nav.html" . }}

	{{ $.Scratch.Set "counter" 0 }}
	{{ range .Params.comic.rows }}
		<div class="comic__row">
			{{ range .cols}}
				{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
				<div class="comic__panel ">
					{{ $image := resources.Get .panel}}
					{{ $noRetina := print "x" (div $image.Height 2) " q100" }}
					{{ $image_1x := $image.Resize $noRetina }}
					{{ $image_mobile := $image.Resize "x500 q100" }}
					{{ $image_mobile2x := $image.Resize "x1000 q100" }}
					<picture>
						<source media="(max-width: 767px)" srcset="{{ $image_mobile2x.Permalink }} 2x, {{ $image_mobile.Permalink }} 1x">
						<source media="(min-width: 768px)" srcset="{{ $image.Permalink }} 2x, {{ $image_1x.Permalink }} 1x">
						<img
							src="{{ $image_mobile.Permalink }}"
							class="comic__panel__image"
							alt="{{ if isset . "transcript" }}{{.transcript}}{{end}}"
							{{ if isset . "transcript" }} 
								aria-details="comic-transcript-panel-{{$.Scratch.Get "counter"}}"
							{{ end }}
						>
					</picture>
				</div>
			{{end}}
		</div>
	{{ end }}

	{{ partial "social-share.html" . }}

	<header class="comic__header">
			<h1 class="comic__header_title">{{ .Title }}</h1>
			<p class="comic__meta">
				<time>{{.Date.Format "January 1, 2006"}}</time>
			</p>
	</header>

	{{ with .Content}}
	<div class="comic__content">
		{{- . -}}
	</div>
	{{ end }}

	<div class="comic__transcript" id="comic-transcript">
		<h2>Transcript</h2>
		{{ if (isset .Params "transcript")}}
			{{ .Params.transcript | markdownify}}
		{{ end }}
		{{ $.Scratch.Set "counter" 0 }}
		{{ range .Params.comic.rows }}
				{{ range .cols}}
					{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
						{{ if isset . "transcript" }} 
						<div id="comic-transcript-panel-{{$.Scratch.Get "counter"}}">
							<h3>Panel {{$.Scratch.Get "counter"}}</h3>
								{{ .transcript | markdownify}}
						</div>
						{{ end }}
				{{end}}
		{{ end }}

	</div>

</div>

{{end}}
